body{
    display: table;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

body h2{
    justify-content: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
body .login{
    display: flex;
    width: auto;
    height: 30px;
}
body .btn{
    background-color: rgb(103, 203, 203);
    color: white;
    border: solid 5px rgb(103, 203, 203);
    border-radius: 3px;
    height: 30px;
    margin: 20px 0;
}
form{
    display: table;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
form input{
    padding: 0 20px;
}
form .button{
    width: 144px;
    margin-top: 15px;
    padding: 5px 20px;
    background-color: rgb(39, 125, 246);
    color: white;
    border: 0;
    border-radius: 3px;
}

body h1{
    width: 294px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
}

.btn1{
    margin-right: 5px;
    background-color: rgb(39, 125, 246);
    color: white;
    border: solid 5px rgb(39, 125, 246);
    border-radius: 3px;
}
.btn2{
    margin-left: 5px;
    background-color: gray;
    color: white;
    border: solid 5px gray;
    border-radius: 3px;
}
table{
    width: 500px;
    text-align: center;
    border-collapse: collapse;
    margin-top: 20px;
}
tr th{
    background-color: aliceblues;
}
table th, table td{
    border: solid 1px blanchedalmond;
    padding: 10px;
}
table td .btn3{
    background-color: red;
    color: white;
    border: solid 5px red;
    border-radius: 3px;
}

h4{
    margin: 15px 0 10px 0;
}
