body {
    background-color: dimgray;
}
h1 {   
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
    border-bottom: solid 2px white;
}
input {
    margin: 5px;
}
p {
    color: white;
    display: flex;
    justify-content: center;
}
h2 {
    color: white;
    display: flex;
    justify-content: center;
}